body {
  font-size: 1.8rem;
}

.column10 {
  width: 10%;
}
.column15 {
  width: 15%;
}
.column20 {
  width: 20%;
}
.column25 {
  width: 25%;
}
.column30 {
  width: 30%;
}
.column35 {
  width: 35%;
}
.column40 {
  width: 40%;
}
.column45 {
  width: 45%;
}
.column50 {
  width: 50%;
}
.column55 {
  width: 55%;
}
.column60 {
  width: 60%;
}
.column65 {
  width: 65%;
}
.column70 {
  width: 70%;
}
.column75 {
  width: 75%;
}
.column80 {
  width: 80%;
}
.column85 {
  width: 85%;
}
.column90 {
  width: 90%;
}
.column95 {
  width: 95%;
}
