<div class="{{ page_class }}" id="off-canvas-content" data-off-canvas-content>
    <div class="content-top">
        {# Universal admin tools like local task tabs, messages, etc can go here. #}
        {% block content_top %}
        {% endblock %}
    </div>
    {% block page_head %}
        {% embed "@organisms/micro-header.twig" with { "hero_media": hero_media, "hide_hero": hide_hero, "logo": logo, "image_logo": image_logo } %}
            {% block mega_nav %}
                {% include "@molecules/mega-nav.twig" with {nav:nav} only %}
            {% endblock %}
        {% endembed %}
    {% endblock %}
    {% block content %}
        {% embed "@organisms/node.twig" %}
        {% endembed %}
    {% endblock %}
    {% block footer %}
        {% include "@organisms/footer.twig" %}
    {% endblock %}
    <span id="du-loader" aria-hidden="true">
        <span class="icon-du-spin3 animate-spin"></span>
    </span>
</div>
