<div class="quotes-module__wrapper">
	<div class="row row--expanded quotes-module">
		<div class="columns small-12">
			<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit="data-orbit" data-auto-play="false">
				<div class="orbit-container">
					{% for slides_item in slides %}
						<div class="{% if is_active %}is-active {% endif %}orbit-slide">
							<div class="row">
								<div class="columns small-12 medium-9">
									<div class="quotes-module__content">
										<blockquote>
											{% include "@atoms/paragraph.twig" %}
											<cite>{{ cite|raw }}</cite>
										</blockquote>
									</div>
								</div>
								<div class="columns small-12 medium-3 hide-for-small-only">
									{% if image %}
										<div class="quotes-module__image">
											{% include "@atoms/image.twig" %}
										</div>
									{% endif %}
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
				<nav class="orbit-bullets">
					<button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
					<button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
					<button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
				</nav>
			</div>
		</div>
	</div>
</div>