{% include "organisms-header" %}

	<article id="main-content" role="main">
	
		<h1>The Shell</h1>

		<p>Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Sed posuere consectetur est at lobortis. Maecenas faucibus mollis interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

	</article>

{% include "organisms-footer" %}