<div class="school-filter-dropdown-holder active-filter">
    <div class="large-10 columns">
        <form>
            <label class="show-for-sr">School Programs</label>
            <select>
                <option value="*">See Programs from All Schools</option>
                <option value="AH">Division of Arts, Humanities and Social Sciences</option>
                <option value="AHSS">Division of Arts, Humanities and Social Sciences</option>
                <option value="DC">Daniels College of Business</option>
                <option value="ED">Morgridge College of Education</option>
                <option value="EN">Daniel Felix Ritchie School of Engineering and Computer Science</option>
                <option value="IL">Iliff School of Theology</option>
                <option value="IS">Josef Korbel School of International Studies</option>
                <option value="LW">Sturm College of Law</option>
                <option value="NM">College of Natural Sciences and Mathematics</option>
                <option value="PP">Graduate School of Professional Psychology</option>
                <option value="SS">Division of Arts, Humanities and Social Sciences</option>
                <option value="SW">Graduate School of Social Work</option>
                <option value="TX">Graduate Tax Program</option>
                <option value="UC">College of Professional Studies</option>
            </select>
        </form>
    </div>
</div>
