<div class="filter-switch small">
<span>A to Z</span>
  <input class="switch-input" id="filterSwitch" type="checkbox" name="filterSwitch">
  <label class="switch-paddle" for="filterSwitch">
    <span class="show-for-sr">Schools</span>
  </label>
  <span>SCHOOLS</span>
</div>