<div class="color-palette">
	<h4>Primary: Red</h4>
	<ul>
		<li><span class="primary-color-1-bg"></span><strong>Red 1:</strong> #560d20<br>
			$primary-color-1</li>
		<li><span class="primary-color-2-bg"></span><strong>Red 2:</strong> #760626<br>
			$primary-color-2</li>
		<li><span class="primary-color-3-bg"></span><strong>Red 3:</strong> #98012e<br>
			$primary-color-3</li>
		<li><span class="primary-color-4-bg"></span><strong>Red 4:</strong> #962733<br>
			$primary-color-4</li>
		<li><span class="primary-color-5-bg"></span><strong>Red 5:</strong> #c6403d<br>
			$primary-color-5</li>
	</ul>
	<h4>Secondary: Gold</h4>
	<ul>
		<li><span class="secondary-color-1-bg"></span><strong>Gold 1:</strong> #765b3a<br>
			$secondary-color-1</li>
		<li><span class="secondary-color-2-bg"></span><strong>Gold 2:</strong> #8b6e4a<br>
			$secondary-color-2</li>
		<li><span class="secondary-color-3-bg"></span><strong>Gold 3:</strong> #b8a162<br>
			$secondary-color-3</li>
		<li><span class="secondary-color-4-bg"></span><strong>Gold 4:</strong> #ebd5ab<br>
			$secondary-color-4</li>
		<li><span class="secondary-color-5-bg"></span><strong>Gold 5:</strong> #c2b89d<br>
			$secondary-color-5</li>

	</ul>

	<h4>Neutral: Black/Gray</h4>
	<ul>
		<li><span class="neutral-color-1-bg"></span><strong>Neutral 1:</strong> #000000<br>
			$neutral-color-1</li>
		<li><span class="neutral-color-2-bg"></span><strong>Neutral 2:</strong> #18171e<br>
			$neutral-color-2</li>
		<li><span class="neutral-color-3-bg"></span><strong>Neutral 3:</strong> #525252<br>
			$neutral-color-3</li>
		<li><span class="neutral-color-4-bg"></span><strong>Neutral 4:</strong> #d1d1d2<br>
			$neutral-color-4</li>
		<li><span class="neutral-color-5-bg"></span><strong>Neutral 5:</strong> #e0e0e0<br>
			$neutral-color-5</li>
		<li><span class="neutral-color-6-bg"></span><strong>Neutral 6:</strong> #f9f9f9<br>
			$neutral-color-6</li>
	</ul>

	<h4>Accent: Purple</h4>
	<ul>
		<li><span class="accent-color-1a-bg"></span><strong>Purple 1:</strong> #2f254d<br>
			$accent-color-1a</li>
		<li><span class="accent-color-1b-bg"></span><strong>Purple 2:</strong> #534779<br>
			$accent-color-1b</li>
		<li><span class="accent-color-1c-bg"></span><strong>Purple 3:</strong> #6d6191<br>
			$accent-color-1c</li>
	</ul>

	<h4>Accent: Teal</h4>
	<ul>
		<li><span class="accent-color-2a-bg"></span><strong>Teal 1:</strong> #033b4a<br>
			$accent-color-2a</li>
		<li><span class="accent-color-2b-bg"></span><strong>Teal 2:</strong> #05637b<br>
			$accent-color-2b</li>
		<li><span class="accent-color-2c-bg"></span><strong>Teal 3:</strong> #2090ac<br>
			$accent-color-2c</li>
	</ul>

	<h4>Accent: Green</h4>
	<ul>
		<li><span class="accent-color-3a-bg"></span><strong>Green 1:</strong> #506121<br>
			$accent-color-3a</li>
		<li><span class="accent-color-3b-bg"></span><strong>Green 2:</strong> #7a9032<br>
			$accent-color-3b</li>
		<li><span class="accent-color-3c-bg"></span><strong>Green 3:</strong> #9aa76f<br>
			$accent-color-3c</li>
	</ul>
</div>