<div class="primary-font">
	<h4 class="primary-font">Primary Font</h4>
	<p><span class="example-code">font-family: "BreveSans", sans-serif;<br>
	$primary-font</span><br>
	Examples: Main body text and navigation: Main Menu, Follow Footer Menu, Sub Menu</p>
	<ul>
		<li>Breve Sans Text - Book = font-weight: 500</li>
		<li class="fw-600">Breve Sans Text - Medium = font-weight: 600</li>
		<li class="fw-800">Breve Sans Text - Black = font-weight: 800</li>
	</ul>
</div>
<div class="accent-font">
	<h4 class="accent-font">Accent Font</h4>
	<p><span class="example-code">font-family: "BreveText", sans-serif;<br>
	$accent-font</span><br>
	Examples: Intro text.</p>
	<ul>
		<li>Breve Text - Medium = font-weight: normal</li>
		<li><em>Breve Text - Medium Italic = font-weight: normal</em></li>
		<li><strong>Breve Text - Bold = font-weight: bold</strong></li>
		<li><strong><em>Breve Text - Bold Italic = font-weight: bold</em></strong></li>
	</ul>
</div>
<div class="headline-font">
	<h4 class="headline-font">Headline Font</h4>
	<p><span class="example-code">font-family: "BreveSlabTitle", sans-serif;<br>
	$headline-font</span><br>
	Examples: Headers (h1, h2, etc.)</p>
	<ul>
		<li class="fw-500">Breve Slab Title - Book = font-weight: 500</li>
		<li class="fw-500"><em>Breve Slab Title - Book = font-weight: 500</em></li>
		<li class="fw-700">Breve Slab Title - Bold = font-weight: 700</li>
		<li class="fw-700"><em>Breve Slab Title - Bold Italic = font-weight: 700</em></li>
		<li class="fw-800">Breve Slab Title - Black = font-weight: 800</li>
		<li class="fw-800"><em>Breve Slab Title - Black = font-weight: 800</em></li>
	</ul>
</div>
<div class="cta-font">
	<h4 class="cta-font">Call-to-Action Font</h4>
	<p><span class="example-code">font-family: "Acto", sans-serif;<br>
	$cta-font</span><br>
	Examples: Call-to-Action link or buttons</p>
	<ul>
		<li class="fw-800">Acto - Black = font-weight: 800</li>
	</ul>
</div>
<h4>Icon Font (Fontello)</h4>
<p><span class="example-code">font-family: "Fontello";<br>
	$icon-font</span><br>
	Examples: CSS pseudo-elements to add icons. See 'DU Icons' atom for list of icons.
</p>
