{% include "organisms-push-menu" %}

<div class="off-canvas-content" id="off-canvas-content" data-off-canvas-content>

	{% include "organisms-header" %}
	
	<article id="main-content" role="main">
	
		<h1 class="show-for-sr">Home Page Page Title</h1>

		{% if section_1 %}
			<div class="row du-home__section-1">
				<div class="columns small-12">
					{% if headline %}
						{% include "atoms-headline" %}
					{% endif %}
				</div>
				<div class="columns small-12 order-1 medium-order-2 medium-8 large-7">
					{% include "atoms-paragraph" %}
				</div>
				<div class="columns small-12 order-2 medium-order-1 medium-4">
					{% include "atoms-list" %}
				</div>
			</div>
		{% endif %}
		
		{% if section_3 %}
			{% include "organisms-wide-carousel" %}
		{% endif %}
		
		{% if section_4 %}
			{% include "organisms-swapping-img-feature" %}
		{% endif %}

		{% if section_5 %}
			{% include "organisms-3-col-facts" %}
		{% endif %}

		{% if section_2 %}
			{% include "organisms-quotes" %}
		{% endif %}

		{% if section_6 %}
			{% include "organisms-swapping-img-feature" %}
		{% endif %}

		{% if section_7 %}
			{% include "organisms-wide-carousel" %}
		{% endif %}

		{% if section_8 %}
			{% include "organisms-3-col-facts" %}
		{% endif %}

		{% if section_9 %}
			<form class="row du-home__academic-programs">
				<div class="columns small-12">
					{% if headline %}
						{% include "atoms-headline" %}
					{% endif %}
				</div>
				<div class="columns small-12 medium-10 medium-offset-1">
					{% include "atoms-search-box" %}
					<div class="row">
						{% if buttons %}
							<div class="columns small-12 medium-6">
								<button class="btn" type="submit" id="{{ search_id }}">{{ title }}{% if icon %}{% include "@atoms/_du-icon.twig" %}{% endif %}</button>
								<!--p><label for="{{ search_id }}"><input name="search" id="{{ search_id }}" class="show-for-sr">{% include "atoms-button" %}</label></p-->
							</div>
						{% endif %}
					</div>
				</div>
			</form>
		{% endif %}
	</article>
	
	{% include "organisms-footer" %}

</div>