<div class="preview-link">
  <h2 class="preview-link__title">{{ title }}</h2>
  <p>There can only be one token in effect per page. Generating a new token "kills" the prior token.</p>
  <p>The token can be distributed and used by a non-authenticated users for 7 days from the time the token is generated. The current token expires: {{ expiration }}</p>
  <span class="preview-link__link">{{ link }}</span>
</div>
