<div class="row">
    <div class="columns small-12 academic-filter">
        {% include "@atoms/search-box.twig" with {
            "search_box": {
                "placeholder": "Search Keywords",
                "altClass": "search-box--neutral",
                "includeForm": "true",
                "includeSubmit": "true",
                "action": "?",
                "method": "get"
            }
        } %}
        <p id="academic-filter-toggler" data-responsive-toggle="academic-filters" data-hide-for="large">
            <a href="#" data-toggle="" class="">
                Filter programs
            </a>
        </p>
        <div id="academic-filters">
            <div class="columns small-12">
                <div class="filter-box">
                    {% block filter_buttons %}
                        {% for button_item in button %}
                            {% include "@atoms/button.twig" with button_item %}
                        {% endfor %}
                    {% endblock %}
                  {% if hide_legend == 0 %}
                    {% include "@atoms/button.twig" with {
                        "title": "",
                        "type": "academic-filter",
                        "altClass": "info icon-du-info-circled",
                        "data": {
                            "key": "toggle",
                            "value": "index-info-box"
                        }
                    } %}
                    {% endif %}

                </div>
              {% if hide_legend == 0 %}
                <div class="row">
                    <div id="index-info-box" data-toggler=".open">
                        <div class="index-info-box__wrapper row">
                            {% block legend_col_1 %}
                                <div class="medium-6 columns">
                                    <dl class="index-list">
                                        <dt>MAJORS</dt>
                                        <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi consequuntur culpa doloremque esse eum in iste labore, quasi repellendus repudiandae vero.</dd>
                                        <dt>MINORS</dt>
                                        <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam blanditiis ducimus earum facilis magni modi nulla, optio, perspiciatis quaerat quis vero voluptatibus?</dd>
                                        <dt>DUAL-DEGREES</dt>
                                        <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aut dignissimos doloribus eaque earum eligendi est illo, minima nam odit pariatur quaerat quam quia reiciendis repellendus sequi veritatis! Beatae consequatur, officiis quidem repellendus sed sit.</dd>
                                    </dl>
                                </div>
                            {% endblock %}
                            {% block legend_col_2 %}
                                <div class="small-12 medium-6 columns">
                                    <dl class="index-list--horizontal">
                                        <dt>BA</dt>
                                        <dd>Bachelor of Arts</dd>
                                        <dt>BS</dt>
                                        <dd>Bachelor of Science</dd>
                                        <dt>BFA</dt>
                                        <dd>Bachelor of Fine Arts</dd>
                                        <dt>BM</dt>
                                        <dd>Bachelor of Music</dd>
                                        <dt>BSAcc</dt>
                                        <dd>Bachelor of Science in Accounting</dd>
                                        <dt>BSBA</dt>
                                        <dd>Bachelor of Science in Business Administration</dd>
                                        <dt>BSCpE</dt>
                                        <dd>Bachelor of Science in Computer Engineering</dd>
                                        <dt>BSEE</dt>
                                        <dd>Bachelor of Science in Electronic Engineering</dd>
                                    </dl>
                                </div>
                            {% endblock %}
                        </div>
                    </div>
                </div>
                {% endif %}
              <div class="row align-middle">
                    <div class="columns">
                        {% include "@atoms/alphabet-filter.twig" %}
                    </div>
                </div>
            </div>

            <script type="text/html" id="letterTemplate">
                <div class="columns card-list-item ap-item ap-letter" data-filter-name="__LETTER__">
                    <div class="cards-list__holder">
                        <div class="cards-list__content">
                            <div class="cards-list-module__title">
                                <h2>__LETTER__</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </script>

        </div>
    </div>
</div>
{% block programs %}
    <div class="academic-cards-module cards-list-module">
        <div class="row js-filter-cards">
            {% for card in academic_program_card %}
                {% include "@molecules/academic-program-card.twig" with card %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
