<div class="content-gallery buffer-on-inner-row">
  <div class="row">
    <div class="columns">
      <h3 class="btm-divider">{{ title }}</h3>
      {% if description %}
        <p>{{ description }}</p>
      {% endif %}
      <div class="gallery-grid">
        {{ gallery  }}
      </div>
    </div>
  </div>
</div>

