<div class="dropdown-video-module__container">
    <div class="dropdown-video-module">
        <div class="dropdown-video-module__wrapper">
            <figure>
                {% include "@atoms/image.twig" with {image:image} %}
                <div id="dropdownVideo">
                    {{ videoUrl }}
                </div>
            </figure>
        </div>
        <a href="#" class="btn dropdown-video-module__toggle">
            <span class="dropdown-video-module__toggle__open">{{ trigger|raw }}</span>
            <span class="dropdown-video-module__toggle__hide">Close Video</span>
        </a>

    </div>
    <div class="reveal dropdown-video-module__modal" id="dropdown-video-module__modal" data-reveal aria-hidden="hidden"></div>
</div>
