<div class="row">
    <div class="columns small-12 featured-courses-module-title">
		{% include "@atoms/headline.twig" with {'title' : title, 'type' : 'h2', 'cssClass':'btm-divider text-center'} %}
    </div>
</div>
<div class="featured-course-cards-module">
  <div class="row js-featured-courses">
	{% block courses %}
		{% for course in courses %}
			{% include "@molecules/featured-course-card.twig" with course %}
		{% endfor %}
	{% endblock %}
  </div>
</div>
