<div class="new-featured-events">
    <div class="row">
        <div class="columns">
            <div class="slick-slider" role="region" {# aria-label="Favorite Space Pictures" #} data-auto-play="false">
                <div class="slider-container">
                    {% block slides %}
                        {% for slide_item in slides %}
                          {% include "@molecules/featured-events-slide.twig" with slide_item %}
                        {% endfor %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
