<div class="hero-media">
    {%  block hero_video %}
        {% if hero_video %}
            {% include "@atoms/video.twig" with hero_video %}
        {% endif %}
    {%  endblock %}
    {%  block hero_image %}
		{% if hero_image %}
			{% include "@atoms/image.twig" with hero_image %}
		{% endif %}
	{%  endblock %}
    {% if hero_background %}<div class="hero-background{% if hero_image %} hero-overlay{% endif %}"></div>{% endif %}
</div>
{% if not hide_hero_caption %}
<div class="hero-media__caption" id="hero-media__caption"{% if not is_home %} data-toggler=".caption-expanded"{% endif %}>
	<div class="row">
		{% if hero_caption %}
			<div class="columns small-12 large-offset-4 large-8">
                <div class="hero-media__caption__text">
					<a data-toggle="hero-media__caption">
						<p>{{ hero_caption|raw }}</p>
						<p class="hero-media__caption__toggler"><span class="show-for-sr">Toggle Caption</span><span class="icon-du-plus"></span><span class="icon-du-minus"></span></p>
					</a>
				</div>
			</div>
		{% endif %}
		{% if is_home %}
			<div class="columns small-12">
				{% if headline %}
					{% include "@atoms/headline.twig" with headline %}
				{% endif %}
			</div>
		{% endif %}
	</div>
</div>
{% endif %}
{% if hero_title %}
    {% include "@molecules/hero-media-title.twig" %}
{% endif %}
{% if hero_items %}
	{% include "@molecules/hero-media-items.twig" with hero_items %}
{% endif %}
