<article id="main-content" role="main">

	{#
		TODO: decide whether / what should display in home page h1
		<h1 class="show-for-sr">Home Page Page Title</h1>
	#}

    {% block page_content %}
        {#
            TODO: Re-include default organisms here for patternlab. The Drupal templates override this entire block.
        #}
    {% endblock %}

</article>