<article {{ taxonomy_attributes }} id="main-content">
  <div class="row">
      <div class="columns large-offset-4 large-8 pull-up page-title-band">
          {% include "@atoms/headline.twig" with { "title": taxonomy_header, "type": "h1", "cssClass": "btm-divider" } %}
      </div>
  </div>
</article>
