
<div aria-label="audience-menu" class="off-canvas position-right" id="audience-menu" data-position="right" data-auto-focus="false" data-transition="push" data-off-canvas="data-off-canvas">
    <div class="row">
        {% for card in img_link_cards %}
            <div class="columns small-12 medium-6">
             {#   {% include "@molecules/big-btn.twig" with card %}#}
            </div>
        {% endfor %}
    </div>
    <div class="row">
        {% for button in audience_buttons %}
            <div class="columns small-12 medium-6">
                    {% include "@atoms/button.twig" with button %}
            </div>
        {% endfor %}
    </div>
</div>
