{% if alert %}
	<aside id="du-alert" class="du-alert{% if is_notification %} du-alert--notification{% endif %}" data-closable>
		<div class="row">
			<div class="columns text-center">

				<button class="du-alert__action-button"{% if is_notification %} data-close{% endif %}
                        {% if not is_notification %} data-toggle="du-alert__content"{% endif %}>
                    <span class="show-for-sr">{{ button_text }}</span>
                    {% include "@atoms/_du-icon.twig" %}</button>

				{% include "@atoms/headline.twig" %}{% include "@atoms/paragraph.twig" %}
			</div>
		</div>

		{% if not is_notification %}
			<div id="du-alert__content" data-toggler=".du-alert__content--expanded">
				<div class="row">
					<div class="columns">
						{{ alert_expanded_text|raw }}
					</div>
				</div>
			</div>
		{% endif %}
	</aside>
{% endif %}