{% if has-wrapper %}
<div class="responsive-embed widescreen">
{% endif %}
	<video {% if is-hero-video %} muted="true" onloadedmetadata="this.muted = true" loop="true"{% endif %} poster="{{ poster-url }}" id="{{ id }}"{% if is-feature-video %} class="show-for-large"{% endif %}{% if is-wide-carousel %} muted="true" onloadedmetadata="this.muted = true"{% endif %}>
	    <source src="{{ mp4-url }}" type="video/mp4">
	    <source src="{{ ogg-url }}" type="video/ogg"> 
	</video>
{% if has-wrapper %}
</div>
{% endif %}
