<div class="columns ap-item ap-school" data-filter-school="DFR">
    <div class="cards-program__holder">
        <div class="cards-program__content">
            <div class="cards-module__program-title">
                <h2>Daniel Felix Ritchie School of Engineering and Computer Science</h2>
            </div>
        </div>
    </div>
</div>
