{% if expanding_list %}
    <div class="row" id="school-list-container">
        <ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
            {% for item in expanding_list.items %}
                <li class="accordion-item{% if item.is_active %} is-active{% endif %}" data-accordion-item>
                    <a href="#" class="accordion-title"> <!--Visible when closed-->
                        <div class="expanded row school">
                            <div class="small-12 medium-6 large-4 columns school-name">
                                <p class="division">{{ item.title1|raw }}</p>

                                <h3>{{ item.title2|raw }}</h3>
                            </div>
                            <div class="small-12 medium-5 large-4 large-offset-1 columns subtitle">
                                <h4>{{ item.subtitle|raw }}</h4>
                            </div>
                        </div>
                    </a>

                    <div class="accordion-content" data-tab-content> <!--Visible when open only-->
                        <div class="expanded row">
                            <div class="small-12 small-order-2 medium-order-1 medium-6 large-4 columns">
                                {% if item.button %}
                                    <div class="cta">{% include "@atoms/button.twig" with item.button %}</div>
                                {% endif %}
                            </div>
                            <div class="small-12 small-order-1 medium-order-2 medium-5 large-6 large-offset-1 columns">
                                <p>{{ item.text|raw }}</p>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}



