<ul class="pagination text-center{% if hidden %} hide{% endif %}" aria-label="Pagination">
	{% if previous %}	
		<li class="pagination-previous disabled">{% include "@atoms/_du-icon.twig" %}</span><span class="show-for-sr.twig">Previous</span></li>
	{% endif %}
	<li class="current"><span class="show-for-sr">You're on page</span> 1</li>
	<li><a href="#" aria-label="Page 2">2</a></li>
	<li><a href="#" aria-label="Page 3">3</a></li>
	<li><a href="#" aria-label="Page 4">4</a></li>
	<li><a href="#" aria-label="Page 5">5</a></li>
	<li><a href="#" aria-label="Page 6">6</a></li>
	{% if next %}
		<li class="pagination-next"><a href="#" aria-label="Next page">{% include "@atoms/_du-icon.twig" %}<span class="show-for-sr.twig">Next</span></a></li>
	{% endif %}
</ul>