<div class="columns small-12 medium-6 orbit-slide">
	<div class="related-stories-module__story">
		<div class="related-stories-image">{% include "@atoms/image.twig" with story %}</div>
		<div class="related-stories-module__story__content">
			<a href="{{ story.url|raw }}">
				{% include "@atoms/headline.twig" with story %}
				{{ story.text|raw }}
				<p class="read-more">{{ story.read_more|raw }}</p>
			</a>
		</div>
	</div>
</div>