<div class="show-hide-toggle">
    <a href="#">
        <span class="show-for-sr">Show / Hide Content Below</span>
        {% include "@atoms/_du-icon.twig" with { "icon_name": "plus" } %}
        {% include "@atoms/_du-icon.twig" with { "icon_name": "minus" } %}
    </a>
</div>