<div class="academic-cards-module">
    <div class="row js-filter-cards">
        {% for card in academic_program_card %}
            {% include "@molecules/card.twig" with card %}
        {% endfor %}
    </div>
</div>
