{% if not hide_header %}
	<div class="row">
		<div class="columns">
			{% include "@atoms/headline.twig" %}
		</div>
	</div>
{% endif %}
<div class="cards-module{% if has_icons %} cards-module--has-icons{% endif %} buffer-on-inner-row" data-equalizer="cards-module__content" data-equalize-on="medium">
	<div class="row">
		{% if cards %}
			{#{% include "@molecules/card.twig" %}#}
		{% endif %}
	</div>
</div>