<p class="category-list__toggler" data-responsive-toggle="{{ category_id }}" data-hide-for="medium">
	<a href="#" data-toggle>
		{{ toggler_text }}
		{% include "@atoms/_du-icon.twig" %}
	</a>
</p>
<ul class="category-list category-list--{{ color_theme }}" id="{{ category_id }}">
	{% if items %}
		<li>
			{% include "@molecules/category-btn.twig" %}
		</li>
	{% endif %}
</ul>