<div class="copy-module{% if has_image %} copy-module--image{% endif %}{% if alt %} copy-module--image-alt{% endif %}">
	<div class="row expanded">
		<div class="columns">
			<div class="row">
				{% if has_image %}
					<div class="columns small-12{% if not alt %} large-6{% endif %}{% if alt %} large-9{% endif %}">
						{% if image %}
							{% include "@atoms/image.twig" %}
						{% endif %}
					</div>
				{% endif %}
				<div class="columns small-12 {% if not has_image %} medium-12 large-8 large-offset-4{% endif %}{% if has_image %}{% if not alt %} large-6{% endif %}{% if alt %} large-3{% endif %}{% endif %}">
					<div class="content">
						{{ content|raw }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>