<div class="feature-video-module buffer-on-inner-row">
    {% if blockquote %}
        {% include "@organisms/blockquote.twig" %}
    {% endif %}
    <div class="row">
    	<div class="columns small-12 medium-12 large-8">
    		<div class="feature-video-module__video-wrapper">
                <!--a href="#" class="video-toggle show-for-large">
                    <span class="video-toggle__text">
                        <span class="show-for-sr">Play/Pause Video</span>
                        
                        {% if play_pause_icons %}
                            {% include "@atoms/_du-icon.twig" %}
                        {% endif %}
                        Lorem Ipsum
                    </span>
                </a-->
                <!--{% include "@atoms/video.twig" %}-->
                <!--div class="hide-for-large responsive-embed widescreen"-->
                 <div class="responsive-embed widescreen">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/1WpZK8C87Sw?rel=0" alt="DU: Where Phenomenal Happens video - spoken word with instrumental background" frameborder="0" allowfullscreen="true"></iframe>
                </div>
        	</div>
    	</div>
    </div>
</div>
