
{% if three_col_header %}
    <div class="row">
        <div class="columns small-12">
            {% include "@atoms/headline.twig" %}
        </div>
    </div>
{% endif %}
<div class="stories-module{% if buffer_top %} buffer-top{% endif %}{% if two_col %} stories-module--two-col{% endif %} buffer-on-inner-row">
    <div class="row" data-equalizer="row" data-equalize-on-row="true">
        {% if two_col_header %}
            <div class="columns small-12{% if two_col %} medium-4{% endif %}">
                {% include "@atoms/headline.twig" %}
            </div>
        {% endif %}
        

            {% if stories %}
                <div class="columns small-12 medium-4">
                   {# {% include "@molecules/story.twig" %}#}
                </div>
            {% endif %}



    </div>
</div>