<nav class="bg-dark-gray" aria-label="footer-links">
  <ul class="menu align-center">
    <li><a href="https://www.du.edu/site-utilities/maps" title="Interactive Map and Printable Map PDFs">Maps</a></li>
    <li><a href="http://jobs.du.edu" title="Jobs at the University of Denver">Jobs</a></li>
    <li><a href="https://www.du.edu/site-utilities/privacy-policy" title="University of Denver Privacy Policy">Privacy Policy</a></li>
    <li><a href="https://www.du.edu/site-utilities/privacy-policy#cookies" title="Cookie policy">Cookies</a></li>
    <li><a href="#" class="termly-display-preferences">Consent Preferences</a></li>
  </ul>
</nav>
<div class="copyright">Copyright ©{{ "now"|date('Y') }} | All Rights Reserved | Equal Opportunity Affirmative Action Institution</div>
