<div class="cta-inline-module">
	<div class="inline-content">
		<p>{% include "@atoms/headline.twig" with cta_inline_content %}</p>
			{% include "@atoms/button.twig" with cta_inline_content.button %}
	</div>
</div>