<nav class="pager" role="navigation" aria-labelledby="pagination-heading">
    <h4 id="pagination-heading" class="visually-hidden">Pagination</h4>
    <ul class="pager__items js-pager__items">
        <li class="pager__item pager__item--previous">
            <a href="" title="Go to previous page" rel="prev">
                <span class="visually-hidden">Previous page</span>
                <span aria-hidden="true" class="icon-du-cust-left-arrow previous"></span>
            </a>
        </li>
        <li class="pager__item is-active">
            <a href="?field_content_tags_ref_target_id&amp;title=&amp;status=1&amp;body_value=&amp;page=0" title="Current page">
            <span class="visually-hidden">
              Current page
            </span>1</a>
        </li>
        <li class="pager__item">
            <a href="?field_content_tags_ref_target_id&amp;title=&amp;status=1&amp;body_value=&amp;page=1" title="Go to page 2">
            <span class="visually-hidden">
              Page
            </span>2</a>
        </li>
        <li class="pager__item">
            <a href="?field_content_tags_ref_target_id&amp;title=&amp;status=1&amp;body_value=&amp;page=2" title="Go to page 3">
            <span class="visually-hidden">
              Page
            </span>3</a>
        </li>
        <li class="pager__item">
            <a href="?field_content_tags_ref_target_id&amp;title=&amp;status=1&amp;body_value=&amp;page=3" title="Go to page 4">
            <span class="visually-hidden">
              Page
            </span>4</a>
        </li>
        <li class="pager__item pager__item--next">
            <a href="?field_content_tags_ref_target_id&amp;title=&amp;status=1&amp;body_value=&amp;page=1" title="Go to next page" rel="next">
                <span class="visually-hidden">Next page</span>
                <span aria-hidden="true" class="icon-du-cust-right-arrow next"></span>
            </a>
        </li>
    </ul>
</nav>