<article class="research-item">
    <!-- div class="research-type">Type: {{ research_type }}</div -->
    <div class="title">{{ title }}</div>
    <!-- div class="research-classification">Category: {{ research_classification }}</div -->
</article>
