<div id="utility-menu" class="utility-menu {{ extra_class }}" aria-label="utility-menu">

    {% if inline_site %}
    <div class="home-anchor-wrap row">
        <a id="homeAnchor" href="https://www.du.edu/" title="University of Denver Homepage" aria-label="du.edu main page">University of Denver</a>
    </div>
    {% endif %}

    {{ utility_menu_desktop }}
</div>
