<div class="cta-module{% if large %} cta-module--large cta-module--{{ color_theme }}{% endif %}{% if not large %} cta-module--overlay-{{ color_theme }}  buffer-on-inner-row{% endif %}{% if remove_btm_margin %} cta-module--remove-btm-margin{% endif %}" style="background-image: url('{{ img_url }}')">
	<div class="row">
		<div class="columns">
			<div class="row">
				<div class="columns small-12{% if large %} medium-8 medium-offset-2{% endif %}">
					<div class="content">
						{% include "@atoms/headline.twig" with content %}
						{% include "@atoms/paragraph.twig"  with content %}
						{% if content.button %}
							<p class="btn-wrap">{% include "@atoms/button.twig" with content.button %}</p>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>