<div class="row">
	<div class="columns small-12 medium-6 large-4">
		<h2>Misc. Icons</h2>
		<p><span class="icon-du-right-arrow" aria-hidden="true"></span> &nbsp; <span class="example-code">icon-du-right-arrow</span></p>
		<p><span class="icon-du-left-arrow" aria-hidden="true"></span> &nbsp; <span class="example-code">icon-du-left-arrow</span></p>
		<p><span class="icon-du-up-arrow" aria-hidden="true"></span> &nbsp; <span class="example-code">icon-du-up-arrow</span></p>
		<p><span class="icon-du-down-arrow" aria-hidden="true"></span> &nbsp; <span class="example-code">icon-du-down-arrow</span></p>
		<p><span class="icon-du-check" aria-hidden="true"></span> &nbsp; <span class="example-code">icon-du-check</span></p>
		<p><span class="icon-du-minus" aria-hidden="true"></span> &nbsp; <span class="example-code">icon-du-minus</span></p>
		<p><span class="icon-du-plus" aria-hidden="true"></span> &nbsp; <span class="example-code">icon-du-plus</span></p>
		<p><span class="icon-du-play-circled2" aria-hidden="true"></span> &nbsp; <span class="example-code">icon-du-play-circled2</span></p>
		<p><span class="icon-du-play-circled" aria-hidden="true"></span> &nbsp; <span class="example-code">icon-du-play-circled</span></p>
		<p><span class="icon-du-pause-circled" aria-hidden="true"></span> &nbsp; <span class="example-code">icon-du-pause-circled</span></p>
		<p><span class="icon-du-attention-circled" aria-hidden="true"></span> &nbsp; <span class="example-code">icon-du-attention-circled</span></p>
		<p><span class="icon-du-mail" aria-hidden="true"></span> &nbsp; <span class="example-code">icon-du-mail</span></p>
		<p><span class="icon-du-phone" aria-hidden="true"></span> &nbsp; <span class="example-code">icon-du-phone</span></p>
		<p><span class="icon-du-clock" aria-hidden="true"></span> &nbsp; <span class="example-code">icon-du-clock</span></p>
		<p><span class="icon-du-globe" aria-hidden="true"></span> &nbsp; <span class="example-code">icon-du-globe</span></p>
		<p><span class="icon-du-fax" aria-hidden="true"></span> &nbsp; <span class="example-code">icon-du-fax</span></p>
		<p><span class="icon-du-rebel" aria-hidden="true"></span> &nbsp; <span class="example-code">icon-du-rebel</span></p>
		<p><span class="icon-du-print" aira-hidden="true"></span> &nbsp; <span class="example-code">icon-du-print</span></p>
		<p><span class="icon-du-location" aira-hidden="true"></span> &nbsp; <span class="example-code">icon-du-location</span></p>
		<p><span class="icon-du-mail-alt" aira-hidden="true"></span> &nbsp; <span class="example-code">icon-du-mail-alt</span></p>
		<p><span class="icon-du-calendar-empty" aira-hidden="true"></span> &nbsp; <span class="example-code">icon-du-calendar-empty</span></p>
		<p><span class="icon-du-link-ext-alt" aira-hidden="true"></span> &nbsp; <span class="example-code">icon-du-link-ext-alt</span></p>
		<p><span class="icon-du-calendar-plus-o" aira-hidden="true"></span> &nbsp; <span class="example-code">icon-du-calendar-plus-o</span></p>
		<p><span class="icon-du-info-circled" aira-hidden="true"></span> &nbsp; <span class="example-code">icon-du-info-circled</span></p>
		<p><span class="icon-du-block" aira-hidden="true"></span> &nbsp; <span class="example-code">icon-du-block</span></p>
		<p><span class="icon-du-logout" aira-hidden="true"></span> &nbsp; <span class="example-code">icon-du-logout</span></p>
	</div>
	<div class="columns small-12 medium-6 large-4">
		<h2>Social Media Icons</h2>
		<p><span class="icon-du-twitter" aria-hidden="true"></span> &nbsp; <span class="example-code">icon-du-twitter</span></p>
		<p><span class="icon-du-facebook" aria-hidden="true"></span> &nbsp; <span class="example-code">icon-du-facebook</span></p>
		<p><span class="icon-du-gplus" aria-hidden="true"></span> &nbsp; <span class="example-code">icon-du-gplus</span></p>
		<p><span class="icon-du-linkedin" aria-hidden="true"></span> &nbsp; <span class="example-code">icon-du-linkedin</span></p>
		<p><span class="icon-du-instagram" aria-hidden="true"></span> &nbsp; <span class="example-code">icon-du-instagram</span></p>
		<p><span class="icon-du-youtube" aria-hidden="true"></span> &nbsp; <span class="example-code">icon-du-youtube</span></p>
		<p><span class="icon-du-tumblr" aria-hidden="true"></span> &nbsp; <span class="example-code">icon-du-tumblr</span></p>
		<p><span class="icon-du-snapchat" aria-hidden="true"></span> &nbsp; <span class="example-code">icon-du-snapchat</span></p>
	</div>
	<div class="columns small-12 medium-6 large-4">
		<h2>Custom Icons</h2>
		<p><span class="icon-du-cust-menu" aria-hidden="true"></span> &nbsp; <span class="example-code">icon-du-cust-menu</span></p>
		<p><span class="icon-du-cust-close" aria-hidden="true"></span> &nbsp; <span class="example-code">icon-du-cust-close</span></p>
		<p><span class="icon-du-cust-search" aria-hidden="true"></span> &nbsp; <span class="example-code">icon-du-cust-search</span></p>
		<p><span class="icon-du-cust-clipboard" aria-hidden="true"></span> &nbsp; <span class="example-code">icon-du-cust-clipboard</span></p>
		<p><span class="icon-du-cust-right-arrow" aria-hidden="true"></span> &nbsp; <span class="example-code">icon-du-cust-right-arrow</span></p>
		<p><span class="icon-du-cust-left-arrow" aria-hidden="true"></span> &nbsp; <span class="example-code">icon-du-cust-left-arrow</span></p>
	</div>
</div>