.MaxAI .fatv18 {
  header {
    &:before {
      border: none;
    }
    &:after {
      border: none;
    }
  }
}

// Hide the before/after inside our chatbox header
.ChatbotLauncher-launcher, .ChatbotDrawer-conversation {
  header {
    &::before {
      display: none;
    }
    &::after {
      display: none;
    }
  }
}

#ocelot_ai .MaxAI .ChatbotLauncher-launcher {
  z-index: 999998 !important;
}