#captcha {
  .js-form-item-captcha-response {
    .field-prefix {
      position: absolute;
      margin-top: 5px;
      margin-left: 5px;
    }
    label {
      width: 100%;
      display: block;
    }
    .description {
      font-size: inherit;
      color: inherit;
      width: 100%;
      float: left;
    }
    input {
      width: 90%;
      float: right;
      margin-bottom: 5px;
    }
  }
}