form {
  &.buffer-on-inner-row {
    margin-bottom: 5rem;
  }
  label {
    font-family: $accent-font;
    line-height: 1.3;
    margin-bottom: 0.7rem;
  }
  label:first-of-type {
    display: inline-block;
  }
  .help-text {
    margin-top: -1.0rem;
  }
  [type="radio"],
  [type="checkbox"] {
    + label {
      font-size: 1.8rem;
      font-weight: normal;
      font-family: $primary-font;
      @media screen and (max-width: 400px) {
        font-size: 1.35rem;
      }
    }
  }
  [type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'] {
    height: 4.1rem;
    padding: 0.9rem;
  }
  .du-form__required {
    color: $primary-color-3;
    font-size: 2.4rem;
    line-height: 2.2rem;
    padding-right: .3rem;
  }
  .du-form__error {
    padding: .5rem 1.0rem;
    font-size: 1.4rem;
    background-color: $primary-color-3;
    margin-bottom: 1.8rem;
    color: white;
    font-family: $primary-font;
    display: block;
    margin-top: -1.6rem;
  }
  button {
    &:hover,
    &:focus {
      cursor: pointer;
    }
  }

  select {  // remove double arrow and use the foundation single down arrow
    background-size: 1.1rem 1.0rem;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  select::-ms-expand {
    display: none;
  }
  input[type="email"] { // hide strange download icon on this field
    background-size: 0;
  }
  .action.form_action { // add space above submit button for some forms like gspp.uofdenver.acsitefactory.com/admission-aid/connect-us
    margin-top: 1.5rem;
  }
  .form_question.form_checkbox { //space questions with lists of checkboxes slightly for readability
    margin-top: 1.0rem;
  }
} //end form

.du-form__alert,
.du-form__success {
  padding: 1.0rem 1.5rem !important;
  margin-bottom: 2.7rem;
}
.du-form__alert {
  background-color: #faebce;
}
.du-form__success {
  background-color: #ccd8a5;
}
@include breakpoint(large) {
  //min-width reset these values on large screen
  form {
    label {
      line-height: 1.8;
      margin-bottom: 0;
    }
    label:first-of-type {
      display: inline;
    }
  }
}

fieldset .form_response {
  margin-bottom: 1.5rem;
  line-height: 2.1rem;
  @include breakpoint(large up) {
    margin-bottom: .5rem;
  }
  input[type='checkbox'] { margin: 0; }
  label {
    display: inline; //correct alignment of checkboxes and labels
  }
}

form.du-creatio-email-subscription {
  min-height: 50vh;
  max-width: 60%;
  margin-left: 20%;
  margin-top: 10vh;
}

// Site log-in form in the /user location
form.user-login-form {
  //Alerts cause a negative margin to disappear behind it, remove that for mobile/tablet
  margin-top: 0;
  margin-left: 10px;
  position: relative;
  max-width: 80%;
  margin-bottom: 29.0rem;
  @include breakpoint( large up ){
    margin-left: 9.0rem;
    width: 48%;
    min-width: 30.0rem;
    max-width: 60.0rem;
  }
  &:before {
    content: 'Click the button below to sign in as a Drupal User via DU\'s Single Sign-on Process (SSO)';
    font-size: 2.0rem;
    font-weight: 600;
  }
  .toggle-user-login-state {
    font-size: 2.5rem;
    position: absolute;
    z-index: 25;
    width: 100px;
    height: 100px;
    text-align: center;
    cursor: pointer;
    @media (min-width: 0px) and (max-width: 485px) {
      width: 70px;
      height: 70px;
      top: 235px;
      left: 96%;
    }
    @media (min-width: 486px) and (max-width: 767px) {
      top: 175px;
      left: 97%;
    }
    @include breakpoint( medium up ){
      top: 175px;
      left: 96%;
    }
    @include breakpoint( large up ){
      top: 175px;
      left: 95%;
    }
  }
  .js-form-item-name {
    &:before {
      content: 'Or, click the arrow to open the form below to sign in using a Local Drupal user account (non-SSO)';
      font-size: 1.8rem;
      display: block;
      margin-top: 1.0rem;
    }

  }
  div label {
    font-size: 1.8rem;
    color: #565555;
  }
  input#edit-name, input#edit-pass {
    max-width: 86%;
    margin-bottom: .4rem;
  }
  .form-item-name {
    margin-top: 12.0rem;
    position: relative;
  }
  .form-item-pass {
    margin-top: 2.0rem;
  }
  .description {
    font-size: 1.6rem;
  }
  a.simplesamlphp-auth-login-link {
    position: absolute;
    top: 85px;
    font-size: 1.7rem;
    background-color: #B61601;
    padding: 10px 50px;
    color: white;
    text-decoration: none;

    &:hover {
      background-color: #8c2332;
    }

    @media (min-width: 0px) and (max-width: 475px) {
      top: 105px;
    }
  }
  #edit-submit {
    background-color: #1779bac9;
  }

  .js-form-item-name label, .js-form-item-name input, .js-form-item-name div, .js-form-type-password, .form-actions {
    display: none;
  }
}

.js-form-item-author-tid-depth .shs-widget-container { // reset the layout for author field for filters
  display: initial;
}

// Site log-in error and general error message updates, target only the login form error messages.
.path-user, .unit-site {
  div[role=alert] {
    max-width: 80%;
    margin: 20px 0 30px 10px;
    @include breakpoint( large up ){
      margin: 0 0 30px 90px;
    }
  }

  .user-pass {
    width: 75%;
    margin: 5% 0 25px 3%;
    @include breakpoint( medium up ){
      width: 50%;
      margin: 0 0 25px 3%;
    }
    @include breakpoint( large up ){
      width: 30%;
      margin: 0 0 25px 3%;
    }
  }
}

