<nav id="utility-menu" class="utility-menu{% if show_for_small %} show-for-small-only{% endif %}" aria-label="utility-menu">
    <ul class="menu align-right">
        {% for item in menu_items %}
            <li><a href="#" data-toggle="modal_utility_apply">{{ item.title }}</a></li>
        {% endfor %}
        {% if not hide_info_for %}
            <li class="audience-menu"><a href="#audience-menu" data-toggle="audience-menu">Info For</a></li>
        {% endif %}
    </ul>
</nav>
<!-- Utility CTA Modal -->
<div class="full reveal" id="modal_utility_apply" data-reveal="data-reveal" data-animation-in="fade-in" data-animation-out="fade-out">
    <div class="modal_cta_utility">
        <div class="row align-center">
            <div class="columns small-12">
                <h2 class="btm-divider text-center">Take The <strong>First Step</strong></h2>
            </div>
        </div>
        <div class="row align-center">
            <div class="columns small-12 medium-4 text-center">
                <h4>Undergraduate Applicants</h4>

                <p>We accept both the Common App and our own Pioneer App. The Common App is a universal application that can be sent to many schools, while the Pioneer App is only sent to the University of Denver.</p>

                <p>
                    <a role="button" class="btn" title="Start a Pioneer App" href="https://denveradmission.du.edu/web" target="_blank">Pioneer App</a>
                    <a role="button" class="btn" title="Start a Common App" href="https://apply.commonapp.org/Login" target="_blank">Common App</a>
                </p>
            </div>
            <div class="columns small-12 medium-4 medium-offset-1 text-center">
                <h4>Graduate Applicants</h4>

                <p>Go to our graduate admission application to submit your information</p>

                <p>
                    <a role="button" class="btn" title="Start a Graduation App" href="https://gradadmissions.du.edu/apply/" target="_blank">Graduate Application</a>
                </p>
            </div>
        </div>
    </div>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
