<article data-history-node-id="51" class="contextual-region" id="main-content" role="main"
  <div class="row">
    <div class="columns small-10 small-offset-1 medium-8 medium-offset-2">
      <form{{ attributes.addClass() }}>
        {{ children }}
      </form>
    </div>
  </div>
</article>
